<h1>Home Page</h1>

<%= uname %>  =>
<%= Mobile %> <br>

<%= uname %>  =>
<%= Mobile %> <br>

<%= uname %>  =>
<%= Mobile %> <br>

<%= uname %>  =>
<%= Mobile %> <br>


<p>Printing Array</p>
<%= arr[0] %> <br>
<%= arr[1] %> <br>
<%= arr[2] %> <br>
<%= arr[3] %> <br>
<%= arr[4] %> <br>
<%= arr[5] %> <br>



<p>Printing the Object Age And DOB</p>
<%= info.age %> <br>
<%= info.DOB %> <br>



<p>Printing the family Info</p>
<%= family.name %> <br>
<%= family.Mobile %> <br>